h1{
    color: white;
    background-color: black;
    text-align: center;
}
a{
    text-decoration: none;
}
/*class name selector.*/
.text{
    text-align: justify;
    font-size: 14px;
    color: darkgray;
}
h3{
    color: red;
}
/*id selector .*/
#addBtn{
    background-color: blue;
    color: white;
    border: none;
    padding: 20px;

    position: fixed;
    z-index: 1000px;
    top: 0;
    left: 0;
    
    .container{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }